@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Gruppo&family=Kanit:wght@400;800&family=Raleway:wght@300&display=swap');

body {
	margin:0;
	background:linear-gradient(to left bottom,lightblue,lightpink);
	min-height:100vh;
	justify-content:center;
	align-items:center;
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
}


text{
	font-weight: bolder;
	font-size:60px;
}

.btn{
	padding:1em;
	font-size:20px;
	text-transform: capitalize;
}

#toolbar{
	display:flex;
	flex-direction: column;
	padding:5px;
	width:70px;
}

#toolbar button{
	background-color:aqua;
	border:none;
	border-radius:4px;
	color:white;
	padding:2px;
}

