body {
	margin:0;
	background:linear-gradient(to left bottom,lightblue,lightpink);
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: Helvetica;
	font-size: 48px;
}


button{
	height: 48px;
	vertical-align: middle;
}

